/* 
This file is a global file which is used in the entire app, anything modified here will reflect on the app
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	transition: all 1s ease;
}

.reveal {
	animation: Reveal 1s ease;
}

.hide {
	animation: Hide 1s ease;
}

.jump:hover {
	animation: Jump .5s ease;
}

.showFromRight {
	animation: showFromRight 1s ease;
}


.Expand {
	animation: Expand 3s ease;
	transform-origin: left;
}


.btt:hover {
	box-shadow: -34px 23px 116px 42px rgba(0, 0, 170, 0.5);
}

.bttt:hover {
	box-shadow: -34px 23px 116px 42px rgba(0, 0, 170, 0.5);
}


.shadow-c {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Animations */

@keyframes showFromRight {
	from {
		transform: translateX(100vw);
	}
}


@keyframes Reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes Jump {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes Hide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;	
	}
}

@keyframes Expand {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}